@model MyNotes.UI.Web.ViewModels.Login.UserDetailViewModel

@{
    ViewBag.Title = "Successfully Logged In";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Successfully Logged In</title>
</head>
<body>
    <div>
         <div>@Model.Id</div>
         <div>@Model.Nickname</div>
         <div>@Model.GroupName</div>
    </div>
</body>
</html>
