<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IEchoService" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:9089/EchoService.svc" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_IEchoService" contract="EchoServiceRef.IEchoService"
                name="BasicHttpBinding_IEchoService" />
        </client>
    </system.serviceModel>
</configuration>